@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Martian+Mono:wght@100;200;300;400;500;600;700;800&display=swap");


*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
    font-family: "Martian Mono", monospace;
    font-size: 12px;
    display: grid;
}



/* no visible scroll-bar */
body::-webkit-scrollbar {
    display: none;
  }
  

#new-book-btn {
    font-family: "Martian Mono", monospace;
    display: block;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    margin: 1rem;
    max-width: 450px;
    color: rgb(239, 239, 99);
    background-color: black;
    border-radius: 1rem;
    font-size: 20px;
    box-shadow: 1px 2px 2.5px rgb(58, 69, 56);
    border-color: white;
}

#new-book-btn:hover {
    color: black;
    background-color: rgb(239, 239, 99);

  }

fieldset {

    border: none;
    min-width: fit-content;
    border-radius: 0.4rem;
    background-color: rgb(220, 227, 245);

  }

/* so that it looks decent on all screens */
  .form-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
 
  }

  .input-box {
    margin: 1px;
    width: 80%;
  }

  #read {

    height: 1rem;
    width: 1rem;
    background-color: aqua;
    justify-items: center;
    align-items: center;
  }

#submit-btn {
    font-family: "Martian Mono", monospace;
    display: block;
    padding: 0.3rem;
    margin: 2px auto;
    color: rgb(239, 239, 99);
    background-color: black;
    border-radius: 1.2rem;
    box-shadow: 1px 2px 2.5px rgb(58, 69, 56);
    border-color: white;
}

#submit-btn:hover {
    color: black;
    background-color: rgb(239, 239, 99);
}

#library {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 3px;
}
.book-card {
display: grid;
align-items: center;
margin: 0.5rem;
padding: 0.5rem;
border-radius: 0.4rem;
background-color: rgb(220, 227, 245);

}

.card-btns {
    display: flex;
}

.toggle-read-button, 
.remove-button {
    display: inline-block;
    font-family: "Martian Mono", monospace;
    display: block;
    padding: 0.3rem;
    margin: 1px auto;
    color: rgb(239, 239, 99);
    background-color: black;
    border-radius: .4rem;
    box-shadow: 1px 1.5px 2px rgb(58, 69, 56);
    border-color: white;
}